.logo-image {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
  }
  
  /* overriding hover background color of nav links */
  .dropdown-menu .dropdown-item:hover, 
  .dropdown-menu .dropdown-item:focus, 
  .dropdown-menu Link:hover, .dropdown-menu Link:focus, 
  .dropdown-menu Link:active {
      background-color: #D82924;
  }